In [31]:
import pandas as pd, os, datetime

In [10]:
def load_data(path):
    df = pd.read_csv (path)
    return df

In [16]:
training_file_dir = os.path.join(os.getcwd(), "IA1_train.csv")
train = load_data(training_file_dir)

In [ ]:
training_file_dir = os.path.join(os.getcwd(), "IA1_train.csv")
train = load_data(training_file_dir)

In [14]:
os.path.join(os.getcwd(), "IA1_train")

'C:\\Users\\paulm\\AI_534\\IA1_train'

In [22]:
train.drop(columns='id')

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,5/21/2014,3,1.00,1020,7874,1.0,0,0,3,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320,2.1800
1,6/9/2014,3,2.25,2210,8000,2.0,0,0,4,8,2210,0,1969,0,98023,47.3085,-122.381,1990,8000,2.5025
2,2/18/2015,4,2.50,2350,5835,2.0,0,0,3,8,2350,0,2003,0,98042,47.3494,-122.153,3010,5772,2.7000
3,5/22/2014,3,1.50,1660,4800,2.0,0,0,3,8,1660,0,1907,0,98119,47.6352,-122.358,1690,4000,9.2630
4,9/5/2014,3,2.50,2410,9916,2.0,0,0,4,10,2410,0,1989,0,98052,47.6911,-122.103,2310,8212,7.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,2/26/2015,4,1.75,2000,7350,1.0,0,0,3,7,1100,900,1963,0,98003,47.3428,-122.303,1720,7350,2.6700
7996,9/26/2014,4,2.25,1870,6693,2.0,0,0,3,7,1870,0,1996,0,98003,47.2774,-122.299,1650,6518,2.9900
7997,11/19/2014,2,1.00,1240,5500,1.0,0,0,3,7,1240,0,1954,0,98102,47.6461,-122.317,2080,4400,9.0000
7998,10/14/2014,3,1.50,1280,2114,1.5,0,0,3,8,1280,0,1904,0,98122,47.6174,-122.308,1540,1456,6.8750
7999,5/7/2014,3,2.25,1770,8165,2.0,0,0,3,7,1770,0,1977,0,98034,47.7166,-122.236,1650,8165,4.2000

In [21]:
train

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7972604355,5/21/2014,3,1.00,1020,7874,1.0,0,0,3,...,1020,0,1956,0,98106,47.5175,-122.346,1290,7320,2.1800
1,8731951130,6/9/2014,3,2.25,2210,8000,2.0,0,0,4,...,2210,0,1969,0,98023,47.3085,-122.381,1990,8000,2.5025
2,7885800740,2/18/2015,4,2.50,2350,5835,2.0,0,0,3,...,2350,0,2003,0,98042,47.3494,-122.153,3010,5772,2.7000
3,4232900940,5/22/2014,3,1.50,1660,4800,2.0,0,0,3,...,1660,0,1907,0,98119,47.6352,-122.358,1690,4000,9.2630
4,3275850190,9/5/2014,3,2.50,2410,9916,2.0,0,0,4,...,2410,0,1989,0,98052,47.6911,-122.103,2310,8212,7.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,4222500410,2/26/2015,4,1.75,2000,7350,1.0,0,0,3,...,1100,900,1963,0,98003,47.3428,-122.303,1720,7350,2.6700
7996,1150700170,9/26/2014,4,2.25,1870,6693,2.0,0,0,3,...,1870,0,1996,0,98003,47.2774,-122.299,1650,6518,2.9900
7997,1959702045,11/19/2014,2,1.00,1240,5500,1.0,0,0,3,...,1240,0,1954,0,98102,47.6461,-122.317,2080,4400,9.0000
7998,7234601221,10/14/2014,3,1.50,1280,2114,1.5,0,0,3,...,1280,0,1904,0,98122,47.6174,-122.308,1540,1456,6.8750
7999,3275740030,5/7/2014,3,2.25,1770,8165,2.0,0,0,3,...,1770,0,1977,0,98034,47.7166,-122.236,1650,8165,4.2000

In [24]:
x = train.pop('id')

In [25]:
x

0       7972604355
1       8731951130
2       7885800740
3       4232900940
4       3275850190
           ...
7995    4222500410
7996    1150700170
7997    1959702045
7998    7234601221
7999    3275740030
Name: id, Length: 8000, dtype: int64

In [26]:
train

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,5/21/2014,3,1.00,1020,7874,1.0,0,0,3,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320,2.1800
1,6/9/2014,3,2.25,2210,8000,2.0,0,0,4,8,2210,0,1969,0,98023,47.3085,-122.381,1990,8000,2.5025
2,2/18/2015,4,2.50,2350,5835,2.0,0,0,3,8,2350,0,2003,0,98042,47.3494,-122.153,3010,5772,2.7000
3,5/22/2014,3,1.50,1660,4800,2.0,0,0,3,8,1660,0,1907,0,98119,47.6352,-122.358,1690,4000,9.2630
4,9/5/2014,3,2.50,2410,9916,2.0,0,0,4,10,2410,0,1989,0,98052,47.6911,-122.103,2310,8212,7.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,2/26/2015,4,1.75,2000,7350,1.0,0,0,3,7,1100,900,1963,0,98003,47.3428,-122.303,1720,7350,2.6700
7996,9/26/2014,4,2.25,1870,6693,2.0,0,0,3,7,1870,0,1996,0,98003,47.2774,-122.299,1650,6518,2.9900
7997,11/19/2014,2,1.00,1240,5500,1.0,0,0,3,7,1240,0,1954,0,98102,47.6461,-122.317,2080,4400,9.0000
7998,10/14/2014,3,1.50,1280,2114,1.5,0,0,3,8,1280,0,1904,0,98122,47.6174,-122.308,1540,1456,6.8750
7999,5/7/2014,3,2.25,1770,8165,2.0,0,0,3,7,1770,0,1977,0,98034,47.7166,-122.236,1650,8165,4.2000

In [27]:
dates = train.pop('date')

In [48]:
train['year'] = [datetime.datetime.strptime(date, "%m/%d/%Y").year for date in dates]

In [35]:
type(dates[1])

str

In [49]:
train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,year
0,3,1.00,1020,7874,1.0,0,0,3,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320,2.1800,2014
1,3,2.25,2210,8000,2.0,0,0,4,8,2210,0,1969,0,98023,47.3085,-122.381,1990,8000,2.5025,2014
2,4,2.50,2350,5835,2.0,0,0,3,8,2350,0,2003,0,98042,47.3494,-122.153,3010,5772,2.7000,2015
3,3,1.50,1660,4800,2.0,0,0,3,8,1660,0,1907,0,98119,47.6352,-122.358,1690,4000,9.2630,2014
4,3,2.50,2410,9916,2.0,0,0,4,10,2410,0,1989,0,98052,47.6911,-122.103,2310,8212,7.0000,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,4,1.75,2000,7350,1.0,0,0,3,7,1100,900,1963,0,98003,47.3428,-122.303,1720,7350,2.6700,2015
7996,4,2.25,1870,6693,2.0,0,0,3,7,1870,0,1996,0,98003,47.2774,-122.299,1650,6518,2.9900,2014
7997,2,1.00,1240,5500,1.0,0,0,3,7,1240,0,1954,0,98102,47.6461,-122.317,2080,4400,9.0000,2014
7998,3,1.50,1280,2114,1.5,0,0,3,8,1280,0,1904,0,98122,47.6174,-122.308,1540,1456,6.8750,2014
7999,3,2.25,1770,8165,2.0,0,0,3,7,1770,0,1977,0,98034,47.7166,-122.236,1650,8165,4.2000,2014

In [50]:
train['day'] = [datetime.datetime.strptime(date, "%m/%d/%Y").day for date in dates]

In [51]:
train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,year,day
0,3,1.00,1020,7874,1.0,0,0,3,7,1020,...,1956,0,98106,47.5175,-122.346,1290,7320,2.1800,2014,21
1,3,2.25,2210,8000,2.0,0,0,4,8,2210,...,1969,0,98023,47.3085,-122.381,1990,8000,2.5025,2014,9
2,4,2.50,2350,5835,2.0,0,0,3,8,2350,...,2003,0,98042,47.3494,-122.153,3010,5772,2.7000,2015,18
3,3,1.50,1660,4800,2.0,0,0,3,8,1660,...,1907,0,98119,47.6352,-122.358,1690,4000,9.2630,2014,22
4,3,2.50,2410,9916,2.0,0,0,4,10,2410,...,1989,0,98052,47.6911,-122.103,2310,8212,7.0000,2014,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,4,1.75,2000,7350,1.0,0,0,3,7,1100,...,1963,0,98003,47.3428,-122.303,1720,7350,2.6700,2015,26
7996,4,2.25,1870,6693,2.0,0,0,3,7,1870,...,1996,0,98003,47.2774,-122.299,1650,6518,2.9900,2014,26
7997,2,1.00,1240,5500,1.0,0,0,3,7,1240,...,1954,0,98102,47.6461,-122.317,2080,4400,9.0000,2014,19
7998,3,1.50,1280,2114,1.5,0,0,3,8,1280,...,1904,0,98122,47.6174,-122.308,1540,1456,6.8750,2014,14
7999,3,2.25,1770,8165,2.0,0,0,3,7,1770,...,1977,0,98034,47.7166,-122.236,1650,8165,4.2000,2014,7

In [52]:
train['month']=[datetime.datetime.strptime(date, "%m/%d/%Y").month for date in dates]

In [53]:
train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,year,day,month
0,3,1.00,1020,7874,1.0,0,0,3,7,1020,...,0,98106,47.5175,-122.346,1290,7320,2.1800,2014,21,5
1,3,2.25,2210,8000,2.0,0,0,4,8,2210,...,0,98023,47.3085,-122.381,1990,8000,2.5025,2014,9,6
2,4,2.50,2350,5835,2.0,0,0,3,8,2350,...,0,98042,47.3494,-122.153,3010,5772,2.7000,2015,18,2
3,3,1.50,1660,4800,2.0,0,0,3,8,1660,...,0,98119,47.6352,-122.358,1690,4000,9.2630,2014,22,5
4,3,2.50,2410,9916,2.0,0,0,4,10,2410,...,0,98052,47.6911,-122.103,2310,8212,7.0000,2014,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,4,1.75,2000,7350,1.0,0,0,3,7,1100,...,0,98003,47.3428,-122.303,1720,7350,2.6700,2015,26,2
7996,4,2.25,1870,6693,2.0,0,0,3,7,1870,...,0,98003,47.2774,-122.299,1650,6518,2.9900,2014,26,9
7997,2,1.00,1240,5500,1.0,0,0,3,7,1240,...,0,98102,47.6461,-122.317,2080,4400,9.0000,2014,19,11
7998,3,1.50,1280,2114,1.5,0,0,3,8,1280,...,0,98122,47.6174,-122.308,1540,1456,6.8750,2014,14,10
7999,3,2.25,1770,8165,2.0,0,0,3,7,1770,...,0,98034,47.7166,-122.236,1650,8165,4.2000,2014,7,5